*.iml
.gradle
/client/.idea
.DS_Store
/client/build
/client/captures
.externalNativeBuild

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

runner-build